/* Todo.css */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #14161F;
  color: #E6E6E6;
}
h1{
  text-align: center;
}
input {
  text-align: center;
  padding: 1rem;
  display: block;
  margin: 0 auto; /* Add this line to center the input */
}
.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

.todo-list {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
  padding: 15px;
  border: 1px solid #2C3247;
  color: rgb(26, 31, 99);
  background-color: #e1e0eb;
  opacity: 0.9;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 300ms ease-in-out;
  font-size: 20px;
}

li:hover {
  background-color: whitesmoke;
}
li.done {
  text-decoration: line-through;
  opacity: 0.6; 
}
button {
  color: #e1e0eb;
  background-color: #14161F;
  list-style: none;
  border-radius: 5px;
  padding: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 300ms ease-in-out;
  margin-left: 0.6rem;
}

button:hover {
  background-color: rgb(10, 22, 61) ;
}

.calendar{
  height: 400px;
  width: 700px;
  margin-left: 37%;
  color: #0b0c0f;
 
}
